{% extends 'master.html' %}
{% block content %}
{% load static %}
<section class="hero-wrap hero-wrap-2" style="background-image: url('/static/images/bg_1.jpg');">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <h1 class="mb-2 bread">{{blog_title}}</h1>
                <p class="breadcrumbs"><span class="mr-2"><a href="/">Home <i
                                class="ion-ios-arrow-forward"></i></a></span> <span>Teacher <i
                            class="ion-ios-arrow-forward"></i></span></p>
            </div>
        </div>
    </div>
</section>


<section class="ftco-section bg-light">
    <div class="container">
        <div class="row">
            <!-- loopify blog posts -->
            {% for blog_post in blog_posts %}
                {% include "subtemplates/blog_post_template.html" %}
            {% endfor %}
            <!-- end loopify blog posts-->
        </div>
    </div>
</section>

{%endblock%}